---
import fetchApi from "../../api/strapi";

import Layout from "../../layouts/Layout.astro";
import ServiceContainer from "../../components/ServiceContainer.astro";

import type Service from "../../interfaces/service";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = await fetchApi<Service[]>({
  endpoint: "services?populate=*&locale=en",
});
---

<Layout title="Jeyran Balkhash">
  <h1
    class="text-center text-32 sm:text-64 uppercase font-medium pt-5 sm:pt-10"
  >
    {t("nav.services")}
  </h1>
  {services.map((service) => <ServiceContainer service={service} />)}
</Layout>
