---
interface Props {
	img: string,
    title?: string
}

const { img, title } = Astro.props;
---

<div>
    <div class="relative min-w-320 xl:w-592 h-364 lg:h-616">
        <svg class="absolute -top-1 z-10" xmlns="http://www.w3.org/2000/svg" width="100%" height="19" viewBox="0 0 592 19" fill="none" preserveAspectRatio="none">
            <path d="M592 9.34164C586.745 10.1477 581.71 11.1369 576.271 12.2057L575.72 12.3139L574.966 12.4579C558.949 15.5167 540.708 19 512 19C482.408 19 464.48 15.4898 448.28 12.3139C434.24 9.3888 423.44 7.29941 404 7.29941C385.981 7.29941 374.715 9.45089 361.441 11.9856C360.871 12.0944 360.298 12.2039 359.72 12.3139C359.158 12.4211 358.595 12.529 358.029 12.6372C342.277 15.6511 324.775 19 296 19C266.383 19 248.707 15.5346 232.591 12.3749L232.28 12.3139C218.24 9.3888 207.008 7.29941 188 7.29941C169.241 7.29941 158.056 9.49722 144.27 12.2058L143.72 12.3139L142.966 12.458C126.949 15.5167 108.708 19 80 19C50.408 19 32.4799 15.4898 16.2799 12.3139C10.5844 11.1273 5.42216 10.0783 0 9.25039V0H592V9.34164Z" fill="white"/>
        </svg>
        <img src={`${import.meta.env.STRAPI_URL}${img}`} class="w-full object-cover h-full" alt={title} />
        <svg class="absolute -bottom-1 z-10" xmlns="http://www.w3.org/2000/svg" width="100%" height="19" viewBox="0 0 592 19" fill="none" preserveAspectRatio="none">
            <path d="M592 9.65836C586.745 8.8523 581.71 7.86305 576.271 6.79427L575.72 6.68605L574.966 6.54206C558.949 3.48332 540.708 0 512 0C482.408 0 464.48 3.51018 448.28 6.68605C434.24 9.6112 423.44 11.7006 404 11.7006C385.981 11.7006 374.715 9.54911 361.441 7.01438C360.871 6.9056 360.298 6.79611 359.72 6.68605C359.158 6.57885 358.595 6.47105 358.029 6.36281C342.277 3.3489 324.775 0 296 0C266.383 0 248.707 3.46542 232.591 6.62507L232.28 6.68605C218.24 9.6112 207.008 11.7006 188 11.7006C169.241 11.7006 158.056 9.50278 144.27 6.79418L143.72 6.68605L142.966 6.54203C126.949 3.4833 108.708 0 80 0C50.408 0 32.4799 3.51018 16.2799 6.68605C10.5844 7.87267 5.42216 8.92175 0 9.74961V19H592V9.65836Z" fill="white"/>
        </svg>
    </div>
    {title && <div class="pt-3 text-32 font-medium">{title}</div>}
</div>
