---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<form class="rounded-3xl flex flex-col bg-white pt-4 pb-5 px-5">
  <label class="flex flex-col py-4 border-b border-solid border-gray" for="name"
    >{t('form.name')}
    <input
      class="text-xl font-medium placeholder:text-black invalid:text-red focus:outline-none"
      type="text"
      name="name"
      placeholder={t('form.name_placeholder')}
      required
    />
  </label>

  <label
    class="flex flex-col py-4 border-b border-solid border-gray"
    for="phone"
    >{t('form.phone')}
    <input
      class="text-xl font-medium placeholder:text-black invalid:text-red focus:outline-none"
      type="tel"
      name="phone"
      placeholder={t('form.phone_placeholder')}
      required
    />
  </label>
  <button class="mt-3 rounded-xl bg-main px-5 py-4 text-white"
    >{t('form.back_call')}</button
  >
</form>
