---
import ServiceCard from './ServiceCard.astro';
import type Service from '../interfaces/service';

interface Props {
    title: string,
	cards: Service[]
}

const { title, cards } = Astro.props;
---

<section class="py-100">
    <h2 class="text-center text-64 uppercase font-medium">{title}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-3 container mx-auto gap-x-8 gap-y-6">
        {cards.map(card => 
            <ServiceCard title={card.attributes.Title} img={card.attributes.Thumbnail.data.attributes.url} />
        )}
    </div>
</section>
