---
interface Props {
    title: string,
    p: string,
    withH1?: boolean,
    coords?: string
}

const { title, p, withH1, coords } = Astro.props;
---

<div class="px-5 sm:px-0 sm:w-800 mx-auto py-100">
    {withH1 ? <h1 class="text-32 sm:text-64 text-center uppercase leading-100% mb-6 font-medium">{title}</h1>
    : <h2 class="text-32 sm:text-64 text-center uppercase leading-100% mb-6 font-medium">{title}</h2>}
    <p class="text-base sm:text-28 text-center leading-130% font-normal">{p}</p>
    {coords && <p class="text-main text-28 text-center mt-2 font-normal">{coords}</p>}
</div>
