---
import Container from './Container.astro';

interface Props {
  title: string;
  p: string;
  withH1?: boolean;
  coords?: string;
}

const { title, p, withH1, coords } = Astro.props;
---

<Container addedClass="px-5 md:px-0 md:w-800">
  {
    withH1 ? (
      <h1 class="text-32 sm:text-64 text-center uppercase leading-100% mb-4 sm:mb-6 font-medium">
        {title}
      </h1>
    ) : (
      <h2 class="text-32 sm:text-64 text-center uppercase leading-100% mb-4 sm:mb-6 font-medium">
        {title}
      </h2>
    )
  }
  <p class="text-base sm:text-28 text-center leading-130% font-normal">{p}</p>
  {
    coords && (
      <p class="text-main text-base sm:text-28 text-center mt-5 font-normal">
        {coords}
      </p>
    )
  }
</Container>
